<!DOCTYPE html>
<html lang="es">

<head>
    <% include ./partials/header.ejs %>
    <script>$(document).ready(function () {

                var temp = <%= temp %>;
                var empMa = <%= tempMax %>;
                var empMi = <%= tempMin %>;

                $("h2").text("Estas en <%= Ciudad %> y hace una temperatura de " + temp + "ºC");

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var container = document.getElementById('timeline');
                    var chart = new google.visualization.BarChart(container);
                    var dataTable = new google.visualization.DataTable();

                    dataTable.addColumn({ type: 'string', id: 'temperaturas' });
                    dataTable.addColumn({ type: 'number', id: 'temp' });

                    dataTable.addRows([
                        ['Temp Maxima', empMa],
                        ['Temp Actual', temp],
                        ['Temp Minima', empMi]
                    ]);

                    chart.draw(dataTable);
                }
            });</script>

    <title>App Tiempo</title>
</head>

<body>
    <h1>Ciudad</h1>
    <h2></h2>
    <div id="timeline"></div>
</body>

</html>